* {
    margin: 0;
    padding: 0;
  }
  
  
  .nav-menu {
    background-color: #f6f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px;
    padding: 0px 5%;

    h1 {
      font-size: 22px;
    }

    ul {
      list-style: none;
      display: flex;
    }

    a {
      text-decoration: none;
      margin: 30px;
      padding: 5px;
      color: #505050;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        border-bottom-color: #2d2a2a;
        border-bottom: 3px solid;
      }
    }

    .active {
      border-bottom-color: #2d2a2a;
      border-bottom: 3px solid;
      font-family: bold;
      color: #2d2a2a;
    }

  }

  section {
    width: 100%;
    height: 100vh;
    background-image: url(images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5%;

  }

  .text-container,
  .img-container {
    width: 50%;
  }

  .img-container {

    width: 50%;
    
    img {
      width: 500px;
      height: 500px;
      border-radius: 100%;
      border: 8px solid #ffffff;
      object-fit: cover;

    }
  }

  .text-container {
    width: 50%;

    p {
      line-height: 0;
      margin: 45px 0px 25px;
      font-family: calibri;
    }

    p:nth-child(1) {
      font-weight: bold;
      font-size: 22px;
      color: #6d6d6d;
    }

    p:nth-child(2) {
      font-weight: bold;
      font-size: 60px;
      color: #1a1a1a;
      letter-spacing: 1px;
    }

    p:nth-child(3) {
      font-size: 30px;
      color: #403e3e;
      line-height: 30px;
    }

    button {
      width: 130px;
      height: 45px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    button:active {
      transform: scale(1.1);
    }

  }


  