* {
    margin: 0;
    padding: 0;
  }
  
  
  .nav-menu {
    background-color: #f6f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px;
    padding: 0px 5%;
    
    h1 {
      font-size: 24px;
    }

    ul {
      list-style: none;
      display: flex;
    }

    a {
      text-decoration: none;
      margin: 30px;
      padding: 10px;
      color: #505050;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        background: lightgrey;
      }
    }

    .active {
      border-bottom-color: #2d2a2a;
      border-bottom: 3px solid;
      font-family: bold;
      color: #2d2a2a;
    }

  }

  body {
    width: 100%;
    height: 100vh;
    background-image: url(images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
  }

  .img-container {
    width: 50%;
    
    img {
      width: 500px;
      height: 500px;
      border-radius: 100%;
      border: 8px solid #ffffff;
      object-fit: cover;
    }
  }

  .home-container {
    width: 50%;
    padding-right: 5%;

    p {
      line-height: 0;
      margin: 45px 0px 25px;
      font-family: calibri;
    }

    p:nth-child(1) {
      font-weight: bold;
      font-size: 22px;
      color: #6d6d6d;
    }

    p:nth-child(2) {
      font-weight: bold;
      font-size: 60px;
      color: #1a1a1a;
      letter-spacing: 1px;
    }

    p:nth-child(3) {
      font-size: 30px;
      color: #403e3e;
      line-height: 30px;
    }

    button {
      width: 130px;
      height: 45px;
      border-radius: 10px;
      

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #1a1a1a;
      }
    }

    button:active {
      transform: scale(1.1);
    }
  }

  .about-container {
    width: 50%;
    font-family: calibri;
    padding-right: 5%;

    h1 {
      font-size: 3rem;
      line-height: 0;
      margin: 45px 0px 25px;
    }

    h2 {
      font-weight: 400;
      font-size: 2rem;
      color: #6d6d6d;
    }

    p {
      font-weight: bold;
      font-size: 1.2rem;
      color: #1a1a1a;
      letter-spacing: 1px;
    }
  }

  .pro-container {
      width: 100%;
      height: 100vh;
      font-family: calibri;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding-top: 40px;

    .pro-heading-container {
      text-align: center;
      margin: 20px 0px;
  
      h1 {
        color: #1a1a1a;
        font-size: 3rem;
        margin: 0;
        padding: 0;
      }
  
      p {
        color: #6d6d6d;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }

    .pro-box-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .pro-box {
        width: 350px;
        height: 350px;
        margin: 50px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 10px;

        .pro-box-img {
          width: 100%;
          height: 70%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .pro-box-text {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;

          // a {
          //   margin: 0;
          //   color: #6d6d6d;
          //   font-size: 1.1rem;
          //   font-family: caibri;
          //   display: block;
          //   display: -webkit-box;
          //   max-width: 80%;
          //   -webkit-line-clamp: 4;
          //   overflow: hidden;
          //   text-overflow: ellipsis;
          //   -webkit-box-orient: vertical;
          // }
        }
      }
    }

  }




  